<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Control</title>

</head>

<body>
    <h1>従業員　新規登録ページ</h1>

    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <!--
        <label for="id">ID</label>
        <input type="hidden" id="id" name="id" th:value="*{id}" th:text="*{id}">
        <br>
        -->

        <label for="employee_id">社員番号</label><br>
        <input type="text" th:field="*{id}">
        <br><br>
        <label for="name">氏名</label><br>
        <input type="text" th:field="*{name}">
        <br><br>
        <label for="password">パスワード</label><br>
        <input type="text" th:field="*{Authentication.password}">
        <br><br>

        <label for="role">権限</label>
        <br>
        <select th:field="*{Authentication.role}">
            <option value="" th:text="選択してください">
            <option value="" th:text="管理者">
            <option value="" th:text="一般">
<!--
            <option th:each="item:${T(com.techacademy.entity.Authentication.role).values()}" th:value="${item}" th:text="${item}" th:selected="*{role} == ${item}">
-->
        </select>
        <br>

        <input type="submit" value="投稿">
    </form>


    <a th:href="@{/employee/emplist}">一覧に戻る</a>

</body>
</html>
